body {
    margin: 0;
    padding: 0;
    background-color: #303030;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

header {
    background-color: #a6e22e;
    margin: 0;
    box-sizing: border-box;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: auto;
    padding: 8px;
    color: #303030;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "Source Code Pro", 'Menlo', "DejaVu Sans Mono", "Lucida Console", monospace;
}

header nav li a{
    color: black;
    border-right: solid 2px rgba(0, 0, 0, 0.6);
    padding: 0 12px;
    font-size: 18px;
    text-decoration: none;
}

header nav li a:hover {
    background-color: #fff;
}

main {
    width: 62%;
    margin: auto;
    font-size: 16px;
    position: relative;
    top: 18px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
    font-weight: 900;
}

main p {
    font-size: 18px;
    color: #ddd;
    line-height: 1.5;
}

video {
    width: 100%;
    border-radius: 4px;
}

span {
    background-color: #232323;
    font-family: "Source Code Pro", 'Menlo', "DejaVu Sans Mono", "Lucida Console", monospace;
    color: #ddd;
}

a {
    color: #66d9ef;
    text-decoration: none;
}

a:hover {
    background-color: #66d9ef;
    color: #232323;
}

hr {
    width: 100%;
    border-top: 2px solid #fff;
    margin-top: 30px;
}

footer {
    text-align: center;
    line-height: 0.5;
    font-size: 14px;
    margin: 45px 30px 33px 30px;
}